.profileContainer {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.userInfoContainer {
    flex: 0 0 300px;
}

.infoContainer {
    flex: 1;
    min-width: 400px;
}

.item {
    padding: 10px;
    margin: 10px 10px;
    background: #f9f9f9;
    border-radius: 8px;
}

.loading, .error {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.error {
    color: red;
}

.button {
    margin:  8px 8px 0 8px;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.redButton {
    background-color: #f5f5f5;
    color: #d32f2f;
    border: 1px solid #d32f2f;
}

.redButton:hover {
    background-color: #d32f2f;
    color: white;
}

.redButton:active {
    background-color: #b71c1c;
}

.greenButton {
    background-color: #f5f5f5;
    color: #388e3c;
    border: 1px solid #388e3c;
}

.greenButton:hover {
    background-color: #388e3c;
    color: white;
}

.greenButton:active {
    background-color: #2e7d32;
}

.blueButton {
    background-color: #f5f5f5;
    color: #2f4ad3;
    border: 1px solid #2f4ad3;
    min-width: 200px;
    min-height: 35px;
}

.blueButton:hover {
    background-color: #2f4ad3;
    color: white;
}

.blueButton:active {
    background-color: #1f328f;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.paid {
    color: green;
}

.pending {
    color: red;
}
